<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Formulario</title>
  </head>
  <body>
    <div id="formulario">
      <h1>Formulario</h1>
      <a href="/productos"><button>ver lista de productos</button></a>
      <div id="form-content">
        <form action="/productos" method="post">
          <input type="text" name="name" placeholder="nombre" />
          <br />
          <input type="text" name="price" placeholder="precio" />
          <br />
          <input type="text" name="thumbnail" placeholder="url foto" />
          <br />
          <button type="submit">Añadir producto</button>
        </form>
      </div>
    </div>
  </body>
</html>
