<table>
  <tr>
    <th>nombre</th>
    <th>precio</th>
    <th>foto</th>
  </tr>
  {{#each jsonProducts}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.price}}</td>
    <td><img src="{{this.thumbnail}}" alt="{{this.name}}"></td>
  </tr>
  {{/each}}
  
</table>